{{ define "title" }}
  Rum Guide
{{ end }}

{{ define "header" }}
  <nav role="navigation">
    <span><a href="/">Dan Horst</a></span>
    <ul>
      <li>Rum Guide</li>
    </ul>
  </nav>
{{ end }}

{{ define "main" }}
  <section>
    <h2>Rum, an Introduction</h2>

    <p>Rum is part of a larger family of spirits that are derived from sugar cane:</p>

    <ul>
      <li><i>Rum:</i> spirit made from molasses &amp; molasses byproducts, originally produced by European colonies in the Caribbean.</li>
      <li><i>Rhum:</i> alternate spelling of rum. The alternate spelling may, or may not, indicate an agricole style rum.</li>
      <li><i>Rhum Agricole:</i> spirit distilled from sugar cane juice instead of molasses &amp; molasses byproducts. It originated in former French colonies.</li>
      <li><i>Cachaça:</i> A Brazilian spirit distilled from cane juice, similar to rhum agricole, using process developed by the Portuguese in 1532, thus predating rum production in the Caribbean.</li>
    </ul>

    <p>Although it is now produced in countries all over the world, modern rum originated in the Caribbean.</p>
  </section>
  {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
     {{ if in "rum" $key }}
     <section>
       <h2 id="more">Delving Deeper</h2>
       {{ range sort $taxonomy.Pages ".Date" }}
	  {{ .Render "summary" }}
       {{ end }}
     </section>
    {{ end }}
  {{ end }}
{{ end }}
