{{ define "title" }}{{ .Title | markdownify }} | Dan’s Rum Guide{{ end }}

{{ define "attributes" }}{{ if .Params.tags }}{{ range $index, $tag := .Params.tags }}{{ if eq $tag "interactive" }}class="interactive"{{ end }}{{ end }}{{ end }}{{ end }}

{{ define "header" }}
  <nav role="navigation">
    <span><a href="/">Dan Horst</a></span>
    <ul>
      <li><a href="/rum/">Dan’s Rum Guide</a></li>
    </ul>
  </nav>
{{ end }}

{{ define "main" }}
<article>
  <header>
    <h1>{{ .Title | markdownify }}</h1>
  </header>

  <section>
    {{ .Content }}
  </section>
</article>

{{ end }}

{{ define "footer" }}
<footer>
  <nav class="section-navigation">
  {{if .PrevInSection}}<a class="prev element" href="{{.PrevInSection.Permalink}}"><small>Previous</small> {{.PrevInSection.Title}}</a>{{else}}<a class="prev element" href="/rum/"><small>Previous</small> Introduction</a>{{end}}
  <a class="home element" href="/rum/"><small>Home</small>Rum Guide</a>
  {{if .NextInSection}}<a class="next element" href="{{.NextInSection.Permalink}}"><small>Next</small> {{.NextInSection.Title}}</a>{{end}}
  </nav>
</footer>
{{ end }}
