{{ define "title" }}{{ .Title | markdownify }} | Dan’s Rum Guide{{ end }}

{{ define "meta"}}
<meta name="fediverse:creator" content="@danhorst@ruby.social">
{{ end }}

{{ define "favicon" }}
<link rel="icon" type="image/png" sizes="32x32" href="/rum-guide-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/rum-guide-16x16.png">
<link rel="shortcut icon" type="image/x-icon" href="/img/rum-guide.ico">
<link rel="icon" type="image/x-icon" href="/img/rum-guide.ico">
{{ end }}

{{ define "attributes" }}{{ if .Params.tags }}{{ range $index, $tag := .Params.tags }}{{ if eq $tag "interactive" }}class="interactive"{{ end }}{{ end }}{{ end }}{{ end }}

{{ define "header" }}
  <nav role="navigation">
    <span><a href="/">Dan Brubaker Horst</a></span>
    <ul>
      <li><a href="/rum/">Dan’s Rum Guide</a></li>
    </ul>
  </nav>
{{ end }}

{{ define "main" }}
<article>
  <header>
    <h1>{{ .Title | markdownify }}</h1>
  </header>

  <section>
    {{ .Content }}
  </section>
</article>

{{ end }}

{{ define "footer" }}
<footer>
  <nav class="section-navigation">
  {{if .PrevInSection}}<a class="prev element" data-turbolinks-scroll="false" href="{{.PrevInSection.Permalink}}"><small>Previous</small> {{.PrevInSection.Title}}</a>{{else}}<a class="prev element" data-turbolinks-scroll="false" href="/rum/"><small>Previous</small> Introduction</a>{{end}}
  <a class="home element" href="/rum/"><small>Home</small>Rum Guide</a>
  {{if .NextInSection}}<a class="next element" data-turbolinks-scroll="false" href="{{.NextInSection.Permalink}}"><small>Next</small> {{.NextInSection.Title}}</a>{{end}}
  </nav>
</footer>
{{ end }}
