---
layout: default
title: "Dan’s Health Guide"
description: "Reference material on training, nutrition, sleep, and mindset."
---
<% slot :page_title, transform: false do -%>Dan’s Health Guide<% end -%>
<% slot :head_extra, transform: false do -%>
<meta name="fediverse:creator" content="@danhorst@ruby.social">
<% end -%>

<section>
  <h1>Dan’s Health Guide</h1>

  <blockquote>
  <p>
    I’ve compiled this collection of reference material to help me age gracefully.
    It covers a lot of ground.
    Hopefully it will be of some use to you.
  </p>
  <p>
    I’m not an expert or a healthcare provider.
    Talk to your doctor before making lifestyle changes.
  </p>
  </blockquote>
</section>

<section>
  <h2 id="toc">Articles</h2>

  <h3><a href="/health/training/">Training</a></h3>
  <p>The fundamentals of directed exercise.</p>

  <h3><a href="/health/strength-training/">Strength Training</a></h3>
  <p>Strength is the foundation of a long, healthy life.</p>

  <h3><a href="/health/endurance-training/">Endurance Training</a></h3>
  <p>Train for endurance and improve mitochondrial function.</p>

  <h3><a href="/health/recovery/">Recovery</a></h3>
  <p>Maintain your body to avoid injury and improve performance.</p>

  <h3><a href="/health/nutrition/">Nutrition</a></h3>
  <p>Practical guidance on functional, sustainable nutrition.</p>

  <h3><a href="/health/sleep/">Sleep</a></h3>
  <p>Sleep hygiene for quality rest and recovery.</p>

  <h3><a href="/health/mindset/">Mindset</a></h3>
  <p>Changing the way you think impacts the course of your life.</p>
</section>
