{{ define "title" }}
  Lists
{{ end }}

{{ define "header" }}
  <nav role="navigation">
    <span><a href="/">Dan Brubaker Horst</a></span>
    <ul>
      <li><a href="/writing/">Writing</a></li>
      <li>Lists</li>
      <li><a href="/about/">About</a></li>
    </ul>
  </nav>
{{ end }}

{{ define "main" }}
  <h1>Lists</h1>
  {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
    {{ if eq $key "goals" }}
      <h2 id="{{ $key }}">{{ $key | humanize | title }}</h2>
      <ul>
      {{ range sort $taxonomy.Pages ".Title" }}
	  {{ .Render "summary" }}
      {{ end }}
      </ul>
    {{ end }}
    {{ if eq $key "likes" }}
      <h2 id="{{ $key }}">{{ $key | humanize | title }}</h2>
      <ul>
      {{ range sort $taxonomy.Pages ".Title" }}
	  {{ .Render "summary" }}
      {{ end }}
      </ul>
    {{ end }}
    {{ if eq $key "recipes" }}
      <h2 id="{{ $key }}">{{ $key | humanize | title }}</h2>
      <ul>
      {{ range sort $taxonomy.Pages ".Title" }}
	  {{ .Render "summary" }}
      {{ end }}
      </ul>
    {{ end }}
    {{ if eq $key "reference" }}
      <h2 id="{{ $key }}">{{ $key | humanize | title }}</h2>
      <ul>
      {{ range sort $taxonomy.Pages ".Title" }}
	  {{ .Render "summary" }}
      {{ end }}
      </ul>
    {{ end }}
  {{ end }}
{{ end }}
