{{ define "title" }}
  Food
{{ end }}

{{ define "header" }}
  <nav role="navigation">
    <span><a href="/">Dan Horst</a></span>
    <ul>
      <li>Food</li>
      <li><a href="/writing/">Writing</a></li>
      <li><a href="/lists/">Lists</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </nav>
{{ end }}

{{ define "main" }}
  <h1>Food</h1>
  {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
     {{ if in "recipes" $key }}
       <h2 id="{{ $key }}">{{ $key | humanize | title }}</h2>
       <ul>
       {{ range sort $taxonomy.Pages ".Title" }}
	  {{ .Render "summary" }}
       {{ end }}
       </ul>
    {{ end }}
  {{ end }}
{{ end }}
