@charset "UTF-8";

@font-face {
  font-display: swap;
  font-family: "et-book";
  font-style: normal;
  font-weight: normal;
  src: url("/font/et-book-roman-line-figures.woff2") format("woff2"), url("/font/et-book-roman-line-figures.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "et-book";
  font-style: italic;
  font-weight: normal;
  src: url("/font/et-book-display-italic-old-style-figures.woff2") format("woff2"), url("/font/et-book-display-italic-old-style-figures.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "et-book";
  font-style: normal;
  font-weight: bold;
  src: url("/font/et-book-bold-line-figures.woff2") format("woff2"), url("/font/et-book-bold-line-figures.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "et-book-roman-old-style";
  font-style: normal;
  font-weight: normal;
  src: url("/font/et-book-roman-old-style-figures.woff2") format("woff2"), url("/font/et-book-roman-old-style-figures.woff") format("woff");
}

* {
  box-sizing: border-box;
}

/* Tufte CSS styles */
html {
  font-size: 15px;
}

body {
  background-color: #fffff8;
  color: #111;
  counter-reset: sidenote-counter;
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 90em;
  padding-left: 1em;
  padding-right: 1em;
}

/* Adds dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #efefef;
  }

  html {
    background-color: #000;
  }

  figure > svg path {
    stroke: #fff;
  }

  figure > svg text {
    fill: #efefef;
  }
}

h1 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.5rem;
  margin-top: 4rem;
}

h2 {
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.4rem;
  margin-top: 2.1rem;
}

h3 {
  font-size: 1.7rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.4rem;
  margin-top: 2rem;
}

hr {
  border-top: 1px solid #ccc;
  border: 0;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  width: 63%;
}

p.subtitle {
  display: block;
  font-size: 1.8rem;
  font-style: italic;
  line-height: 1;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.numeral {
  font-family: et-book-roman-old-style;
}

.danger {
  color: red;
}

article {
  padding: 5rem 0rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p,
dl,
ol,
ul {
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  margin-bottom: 1.4rem;
  margin-top: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

/* Chapter Epigraphs */
div.epigraph {
  margin: 5em 0;
}

main > h1 + blockquote,
div.epigraph > blockquote {
  margin-bottom: 3em;
  margin-top: 3em;
}

section > blockquote {
  margin-bottom: 2em;
  margin-top: 1em;
}

main > h1 + blockquote,
section > blockquote,
div.epigraph > blockquote,
div.epigraph > blockquote > p {
  font-style: italic;
}

div.epigraph > blockquote > footer {
  font-style: normal;
}

div.epigraph > blockquote > footer > cite {
  font-style: italic;
}
/* end chapter epigraphs styles */

blockquote {
  font-size: 1.4rem;
}

blockquote p {
  margin-right: 40px;
  width: 63%;
}

blockquote footer {
  font-size: 1.1rem;
  text-align: right;
  width: 63%;
}

section > p,
section > footer,
section > table {
  width: 63%;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
  width: 63%;
}

dt:not(:first-child),
li:not(:first-child) {
  margin-top: 0.25rem;
}

figure {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0 0 3em 0;
  -webkit-margin-end: 0;
  -webkit-margin-start: 0;
  max-width: 63%;
  padding: 0;
  vertical-align: baseline;
}

figcaption {
  clear: right;
  float: right;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 40%;
  position: relative;
  vertical-align: baseline;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

/* Links: replicate underline that clears descenders */
a:link,
a:visited {
  color: inherit;
}

.no-tufte-underline:link {
  background: unset;
  text-shadow: unset;
}

a:link, .tufte-underline, .hover-tufte-underline:hover {
  background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(currentColor, currentColor);
  background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(currentColor, currentColor);
  background-position: 0% 93%, 100% 93%, 0% 93%;
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-decoration: none;
  text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a:link, .tufte-underline, .hover-tufte-underline:hover {
    background-position-y: 87%, 87%, 87%;
  }
}

/* Adds dark mode */
@media (prefers-color-scheme: dark) {
  a:link, .tufte-underline, .hover-tufte-underline:hover {
    text-shadow: 0.03em 0 #151515, -0.03em 0 #151515, 0 0.03em #151515, 0 -0.03em #151515, 0.06em 0 #151515, -0.06em 0 #151515, 0.09em 0 #151515, -0.09em 0 #151515, 0.12em 0 #151515, -0.12em 0 #151515, 0.15em 0 #151515, -0.15em 0 #151515;
  }
}

a:link::selection,
a:link::-moz-selection {
  background: #b4d5fe;
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
}

/* Sidenotes, margin notes, figures, captions */
img {
  max-width: 100%;
}

.sidenote,
.marginnote {
  clear: right;
  float: right;
  font-size: 1.1rem;
  line-height: 1.3;
  margin-bottom: 0;
  margin-right: -60%;
  margin-top: 0.3rem;
  position: relative;
  vertical-align: baseline;
  width: 50%;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  font-family: et-book-roman-old-style;
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  left: 0.1rem;
  top: -0.5rem;
}

.sidenote:before {
  content: counter(sidenote-counter);
  font-size: 1rem;
  left: -0.75rem;
  position: absolute;
  text-align: right;
  top: -0.2rem;
}

blockquote .sidenote,
blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  overflow-x: auto;
}

.sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: .03em;
}

code, pre > code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.0rem;
  line-height: 1.42;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
  font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.80em;
}

.marginnote > code,
.sidenote > code {
  font-size: 1rem;
}

pre > code {
  display: block;
  font-size: 0.9rem;
  margin-left: 2.5%;
  overflow-x: auto;
  width: 52.5%;
}

pre.fullwidth > code {
  width: 90%;
}

.fullwidth {
  max-width: 90%;
  clear:both;
}

span.newthought {
  font-size: 1.2em;
  font-variant: small-caps;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline-block;
  max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

.iframe-wrapper {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  position: relative;
}

.iframe-wrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Custom Styles */

dd {
  line-height: 2rem;
  font-size: 1.4rem;
}

dt {
  font-size: 1.7rem;
  margin-bottom: .6em;
  margin-top: 2rem;
}

.gallery > a {
  display: block;
}

.gallery img {
  width: 100%;
}

figure > img,
figure > svg {
  width: 100%;
}

picture {
  display: block;
}

main > article:first-child {
  padding-top: 0;
}

th {
  font-variant: small-caps;
  text-align: left;
  text-transform: uppercase;
}

.archived-post {
  padding: 1rem 0;
}

.colophon {
  overflow: auto;
}

.colophon dl {
  box-sizing: border-box;
  float: left;
  padding: 0;
  position: relative;
  width: 100%;
}

.colophon dd {
  float: left;
  margin: .3rem 0 0;
  padding-left: 1rem;
}

.colophon dd + dd {
  clear: left;
  margin-left: 10rem;
}

.colophon dt {
  clear: left;
  float: left;
  font-size: 1.4rem;
  margin: .3rem 0 0;
  width: 10rem;
}

.colophon dt:after {
  content: ":"
}

@media (min-width: 760px) {
  .colophon dl {
    padding-left: 1rem;
  }
  .colophon dt {
    width: 12rem;
  }
  .colophon dd + dd {
    margin-left: 12rem;
  }
}

.post-meta {
  font-style: italic;
}

.post-list {
  list-style-type: none;
  padding-left: 0;
  padding-right: 13%;
}

.post-list li:before {
  content:'';
}

.post-list li+li {
  padding-top: 1.5rem;
  margin-top: 2rem;
}

.post-list p {
  font-size: 1.2rem;
  margin-top: .4rem;
}

.post-list-meta {
  background: none;
  display: block;
  font-size: .67em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.post-list-meta .day,
.post-list-meta .year {
  font-family: "et-book-roman-old-style";
  letter-spacing: normal;
}

.task-list {
  padding-left: 1em;
}

.task-list label {
  display: block;
  padding-left: 1.4em;
  text-indent: -1.4em;
}

.task-list li:before {
  content:'';
}

.task-list-item {
  margin-right: .5rem;
  position: relative;
  visibility: hidden;
}

.task-list-item:before {
  border: 1px solid #111;
  content: '';
  display: block;
  left: -.035rem;
  padding: .4rem;
  position: absolute;
  top: -.05rem;
  visibility: visible;
}

.task-list-item:checked:after {
  content: '\2713';
  font-size: 1.4rem;
  position: absolute;
  top: -.75rem;
  visibility: visible;
}

li::has(>input[type='checkbox']) {
  list-style-type: none;
}

.topic-list {
  font-size: .67em;
  font-style: normal;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.topic-list ul {
  float: none;
}

.topic-list li {
  display: inline-block;
  list-style-type: none;
  margin: 0 1rem 0 0;
  padding: 0;
}

.topic-list li:before {
  content:'';
}

.footnote-ref {
  font-size: .8rem;
}

/* Utility classes */

.nowrap {
  white-space: nowrap;
}

.reversed {
 direction: rtl;
 unicode-bidi:bidi-override;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Navigation */

.section-navigation {
  display: flex;
  width: 63%;
}

.section-navigation .element {
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 1.4rem;
  padding: 1rem 2%;
  width: 29%;
}

.section-navigation small {
  display: block;
  font-size: 1rem;
  font-style: normal;
  letter-spacing: .05em;
  line-height: 2;
  text-transform: uppercase;
}

.section-navigation a:link {
  background: none;
}


.section-navigation .home {
  text-align: center;
}

.section-navigation .prev {
  border-right: 0;
  text-align: right;
}

.section-navigation .next {
  border-left: 0;
}

nav {
  font-style: italic;
  height: 4em;
}

nav > span {
  font-size: 1.4rem;
  line-height: 2rem;
}

nav > ul {
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  padding-left: 1rem;
}

nav li:first-child {
  padding-left: 0;
}

@media (min-width: 390px) {
  nav {
    height: auto;
  }
}

@media (max-width: 760px) {
  nav {
    padding-right: 0;
  }

  nav li {
    padding-left: .5rem;
  }

  .section-navigation {
    width: 100%;
  }
}

@media (min-width: 760px) {
  header > nav {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  body {
    padding-left: 3em;
    padding-right: 3em;
  }
}

/* Media Queries */

@media (max-width: 760px) {
  header > nav {
    margin-bottom: 0;
    margin-top: 1rem;
  }

  hr,
  section > p,
  section > footer,
  section > table {
    width: 100%;
  }

  pre > code {
    width: 97%;
  }

  section > dl,
  section > ol,
  section > ul {
    width: 90%;
  }

  figure {
    max-width: 90%;
  }

  figcaption,
  figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }

  blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
  }

  blockquote p,
  blockquote footer {
    width: 100%;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote,
  .marginnote {
    display: none;
  }

  figure > .marginnote {
    display: block;
    float: none;
    margin: 0;
    padding: .5rem 0;
    text-align: right;
    width: 100%;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    clear: both;
    display: block;
    float: left;
    left: 1rem;
    margin: 1rem 2.5%;
    position: relative;
    vertical-align: baseline;
    width: 95%;
  }

  label {
    cursor: pointer;
  }

  div.table-wrapper,
  table {
    width: 85%;
  }

  img {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 2048px) {
  html {
    font-size: 22px;
  }
}
