@charset "UTF-8";

@font-face { font-display: fallback;
	     font-family: "et-book";
             src: url("/font/et-book-roman-line-figures.woff2") format("woff2"),
                  url("/font/et-book-roman-line-figures.woff") format("woff");
             font-weight: normal;
             font-style: normal; }

@font-face { font-display: fallback;
             font-family: "et-book";
             src: url("/font/et-book-display-italic-old-style-figures.woff2") format("woff2"),
                  url("/font/et-book-display-italic-old-style-figures.woff") format("woff");
             font-weight: normal;
             font-style: italic; }

@font-face { font-display: fallback;
             font-family: "et-book";
             src: url("/font/et-book-bold-line-figures.woff2") format("woff2"),
                  url("/font/et-book-bold-line-figures.woff") format("woff");
             font-weight: bold;
             font-style: normal; }

@font-face { font-display: fallback;
             font-family: "et-book-roman-old-style";
             src: url("/font/et-book-roman-old-style-figures.woff2") format("woff2"),
                  url("/font/et-book-roman-old-style-figures.woff") format("woff");
             font-weight: normal;
             font-style: normal; }

:root { color-scheme: light dark; }

/* Tufte CSS styles */
html { font-size: 15px; }

body { width: 87.5%;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: -1px;
       padding-left: 12.5%;
       font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
       background-color: #fffff8;
       color: #111;
       max-width: 1400px;
       counter-reset: sidenote-counter; }

header { padding-top: 2rem; }

.section-navigation { display: flex;
                      width: 55%; }

.section-navigation .element { border: 1px solid #ccc;
                               display: inline-block;
                               font-size: 1.4rem;
                               padding: 1rem 2%;
                               width: 29%; }

.section-navigation small { display: block;
                            font-size: 1rem;
                            font-style: normal;
                            letter-spacing: .05em;
                            line-height: 2;
                            text-transform: uppercase; }

.section-navigation a:link { background: none; }


.section-navigation .home { text-align: center; }

.section-navigation .prev { border-right: 0;
                            text-align: right; }

.section-navigation .next { border-left: 0; }

nav { font-style: italic;
      height: 4em;
      padding-right: 12.5%; }

nav > span { font-size: 1.4rem;
             line-height: 2rem; }

nav > ul { list-style-type: none;
           float: right;
           margin: 0;
	         padding: 0; }

nav li { display: inline;
         padding-left: 1rem; }

h1 { font-weight: 400;
     margin-top: 4rem;
     margin-bottom: 1.5rem;
     margin-right: 12.5%;
     font-size: 3.2rem;
     line-height: 1; }

h2 { font-style: italic;
     font-weight: 400;
     margin-top: 2.1rem;
     margin-bottom: 1.4rem;
     font-size: 2.2rem;
     line-height: 1; }

h3 { font-style: italic;
     font-weight: 400;
     font-size: 1.7rem;
     margin-top: 2rem;
     margin-bottom: 1.4rem;
     line-height: 1; }

hr { display: block;
     height: 1px;
     width: 55%;
     border: 0;
     border-top: 1px solid #ccc;
     margin: 1em 0;
     padding: 0; }

abbr { text-decoration: none; }

p.subtitle { font-style: italic;
             margin-top: 1rem;
             margin-bottom: 1rem;
             font-size: 1.8rem;
             display: block;
             line-height: 1; }

.prefix { left: -1.5rem;
          position: absolute; }

.numeral { font-family: et-book-roman-old-style; }

.danger { color: red; }

main { position: relative;
       padding: 5rem 0rem; }

main li small { line-height: 1;
                padding-right: .15rem; }

section { padding-top: 1rem;
          padding-bottom: 1rem; }

p, ol, ul { font-size: 1.4rem;
            line-height: 2rem; }

ul { list-style-type: none; }

ul > li { position: relative; }

main ul > li:before { content: "\2219";
                 left: -.9rem;
	         position: absolute; }

p { margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline; }

td { font-size: 1.2rem; }

th { font-size: 1.4rem;
     font-weight: normal;
     letter-spacing: .1rem;
     padding-bottom: .4rem;
     text-transform: uppercase;
     text-align: left; }

/* Chapter Epigraphs */
div.epigraph { margin: 5em 0; }

div.epigraph > blockquote { margin-top: 3em;
                            margin-bottom: 3em; }

div.epigraph > blockquote, div.epigraph > blockquote > p { font-style: italic; }

div.epigraph > blockquote > footer { font-style: normal; }

div.epigraph > blockquote > footer > cite { font-style: italic; }

main > h1 + blockquote { margin-top: 3em;
                         margin-bottom: 3em;
                         font-style: italic; }

/* end chapter epigraphs styles */

blockquote { font-size: 1.4rem;
             font-style: italic; }

blockquote p { width: 55%;
               margin-right: 40px; }

blockquote footer { width: 55%;
                    font-size: 1.1rem;
                    text-align: right; }

section > p, section > footer, section > table, main > table { width: 55%; }

section > pre, section > pre > code { width: 52%; }
section > pre { margin-left: 3%; }

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl, section > ol, section > ul, .footnotes { width: 50%;
                                                       -webkit-padding-start: 5%;
                                                       -moz-padding-start: 5%;
                                                       padding-start: 5: }

section > dl .sidenote, section > ol .sidenote, section > ul .sidenote { -moz-margin-start:6% }

li:not(:first-child) { margin-top: 0.25rem; }

figure { padding: 0;
         border: 0;
         font-size: 100%;
         font: inherit;
         vertical-align: baseline;
         max-width: 55%;
         -webkit-margin-start: 0;
         -webkit-margin-end: 0;
         margin: 0 0 3em 0; }

figcaption { float: right;
             clear: right;
             margin-top: 0;
             margin-bottom: 0;
             font-size: 1.1rem;
             line-height: 1.6;
             vertical-align: baseline;
             position: relative;
             max-width: 40%; }

figure.fullwidth figcaption { margin-right: 24%; }

figure.masthead { margin-bottom: 4rem;
                  text-align: center; }

figure .half-width { max-width: 50%; }

/* Links: replicate underline that clears descenders */
a:link, a:visited { color: inherit; }

a:link { text-decoration: none;
         background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#333, #333);
         background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#333, #333);
         -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-repeat: no-repeat, no-repeat, repeat-x;
         text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
         background-position: 0% 93%, 100% 93%, 0% 93%; }

@media screen and (-webkit-min-device-pixel-ratio: 0) { a:link { background-position-y: 87%, 87%, 87%; } }

a:link::selection { text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
                    background: #b4d5fe; }

a:link::-moz-selection { text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
                         background: #b4d5fe; }

/* Sidenotes, margin notes, figures, captions */
img { max-width: 100%; }

.sidenote, .marginnote { float: right;
                         clear: right;
                         margin-right: -60%;
                         width: 50%;
                         margin-top: 0;
                         margin-bottom: 0;
                         font-size: 1.1rem;
                         line-height: 1.3;
                         vertical-align: baseline;
                         position: relative; }

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before { font-family: et-book-roman-old-style;
                                           position: relative;
                                           vertical-align: baseline; }

.sidenote-number:after { content: counter(sidenote-counter);
                         font-size: 1rem;
                         top: -0.5rem;
                         left: 0.1rem; }

.sidenote:before { content: counter(sidenote-counter) " ";
                   top: -0.5rem; }

blockquote .sidenote, blockquote .marginnote { margin-right: -82%;
                                               min-width: 59%;
                                               text-align: left; }

div.fullwidth, table.fullwidth { width: 100%; }

div.table-wrapper { overflow-x: auto;
                    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif; }

.sans { font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
        letter-spacing: .03em; }

code { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
       font-size: 1.1rem;
       line-height: 1.42;
       white-space: pre-line;}

.sans > code { font-size: 1.2rem; }

h1 > code, h2 > code, h3 > code { font-size: 0.80em; }

.marginnote > code, .sidenote > code { font-size: 1rem; }

pre.code { font-size: 0.9rem;
           width: 52.5%;
           margin-left: 2.5%;
           overflow-x: auto; }

pre.code.fullwidth { width: 90%; }

.fullwidth { max-width: 90%;
             clear:both; }

span.newthought { font-variant: small-caps;
                  font-size: 1.2em; }

input.margin-toggle { display: none; }

.margin-toggle small { font-size: 1.1em;
                       font-variant: small-caps;
	               vertical-align: text-bottom; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

.iframe-wrapper { position: relative;
                  padding-bottom: 56.25%; /* 16:9 */
                  padding-top: 25px;
                  height: 0; }

.iframe-wrapper iframe { position: absolute;
                         top: 0;
                         left: 0;
                         width: 100%;
                         height: 100%; }

/* Custom Styles */

dd { font-size: 1.4rem;
     line-height: 2rem; }

dt { font-size: 1.7rem;
     margin-bottom: .6em;
     margin-top: 2rem; }

.post-meta { font-style: italic; }

.post-list { list-style-type: none;
             padding-left: 0;
	     padding-right: 13%; }

.post-list li:before { content:''; }

.post-list li+li { padding-top: 1.5rem;
                   margin-top: 2rem; }

.post-list p { font-size: 1.2rem;
               margin-top: .4rem; }

.post-list-meta { background: none;
	          display: block;
	          font-size: .67em;
       	          letter-spacing: .1em;
	          text-transform: uppercase; }

.post-list-meta .day,
.post-list-meta .year { font-family: "et-book-roman-old-style";
                       letter-spacing: normal; }

.task-list { padding-left: 1em; }

.task-list label { display: block;
                   padding-left: 1.4em;
                   text-indent: -1.4em; }

.task-list li:before { content:''; }

.task-list-item { visibility: hidden;
                  margin-right: .5rem;
                  position: relative; }

.task-list-item:before { border: 1px solid #111;
                         content: '';
                         display: block;
			 padding: .4rem;
			 left: -.035rem;
		         position: absolute;
		         top: -.05rem;
		         visibility: visible; }

.task-list-item:checked:after { content: '\2713';
                                font-size: 1.4rem;
                                position: absolute;
                                top: -.75rem;
                                visibility: visible; }

.topic-list { font-size: .67em;
              font-style: normal;
	      letter-spacing: .1em;
	      text-transform: uppercase; }

.topic-list ul { float: none; }

.topic-list li { display: inline-block;
                 list-style-type: none;
	         margin: 0 1rem 0 0;
		 padding: 0; }

.topic-list li:before { content:''; }

.footnote-ref { font-size: .8rem; }

/* Utility classes */

.nowrap {
  white-space: nowrap;
}

.reversed {
 direction: rtl;
 unicode-bidi:bidi-override;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@media (min-width: 390px) {
  nav { height: auto; }
}

@media (max-width: 760px) { body { width: 84%;
                                   padding-left: 8%;
                                   padding-right: 8%; }
			    nav { padding-right: 8%; } 
			    h1 { margin-top: 2rem; }
                            h1 + div.epigraph { margin: 5em 0 3em; }
                            h1 + div.epigraph > blocquote { margin-bottom: 2em; }
			    main { padding-top: 3rem; }
                            hr, section > p, section > footer, section > table main > table, .section-navigation { width: 100%; }
                            pre.code { width: 97%; }
                            section > dl, section > ol, section > ul, .footnotes { width: 90%; }
                            ul > li { clear: both; }
                            figure { max-width: 90%; }
                            figcaption, figure.fullwidth figcaption { margin-right: 0%;
                                                                      max-width: none; }
                            figure.masthead { margin: 0 0 3rem 0; max-width: none; }
                            figure .half-width { max-width: 60%; }
                            blockquote { margin-left: 1.5em;
                                         margin-right: 0em; }
                            blockquote p, blockquote footer { width: 100%; }
                            label.margin-toggle:not(.sidenote-number) { display: inline; }
                            .sidenote, .marginnote { display: none; }
                            .margin-toggle:checked + .sidenote,
                            .margin-toggle:checked + .marginnote { display: block;
                                                                   float: left;
                                                                   left: 1rem;
                                                                   clear: both;
                                                                   width: 95%;
                                                                   margin: 1rem 2.5%;
                                                                   vertical-align: baseline;
                                                                   position: relative; }
                            label { cursor: pointer; }
                            div.table-wrapper, table { width: 85%; }
                            img { width: 100%; } }

@media (prefers-color-scheme: dark) { body { background-color: #000;
                                             color: #fff; }
                                      a:link { text-decoration: none;
                                               background: -webkit-linear-gradient(#000, #000), -webkit-linear-gradient(#000, #000), -webkit-linear-gradient(#fff, #fff);
                                               background: linear-gradient(#000, #000), linear-gradient(#000, #000), linear-gradient(#fff, #fff);
                                               -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
                                               -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
                                               background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
                                               background-repeat: no-repeat, no-repeat, repeat-x;
                                               text-shadow: 0.03em 0 #000, -0.03em 0 #000, 0 0.03em #000, 0 -0.03em #000, 0.06em 0 #000, -0.06em 0 #000, 0.09em 0 #000, -0.09em 0 #000, 0.12em 0 #000, -0.12em 0 #000, 0.15em 0 #000, -0.15em 0 #000;
                                               background-position: 0% 93%, 100% 93%, 0% 93%; }

                                      #rum-guide-stamp .a, #rum-guide-stamp .f {fill: #fff;}
                                      #rum-guide-stamp .b, #rum-guide-stamp .e, #rum-guide-stamp .f {stroke: #fff;}

                                      main ul > li:before { color: #fff; }
                                      .task-list-item:before { border-color: #fff; }
                                      .task-list-item:checked:after { color: #fff; }
                                    }
