{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}

{{ define "heading" }}
  {{ if .Params.categories }}
    {{ range $index, $category := .Params.categories }}
      {{ if eq $category "Archived" }}
      <article>
	<section>
	  <p><em>
	    I wrote this when I was the Digital Library Applications Lead at the University of Notre Dame.
	    It was archived from http://www3.nd.edu/~dbrubak1/ which no longer exists.
	  </em></p>
	</section>
      </article>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}
<article>
  <header>
    <h1>{{ .Title | markdownify }}</h1>
    <p class="post-meta"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format $dateFormat }}</time> by {{ .Params.author | default .Site.Params.author }}{{ if or (.Params.categories) (.Params.tags) }} in {{ partial "meta-terms.html" . }}{{ end }}</p>
  </header>

  <section>
    {{ .Content }}
  </section>
</article>
{{ end }}
