{{ define "header" }}
  <nav role="navigation">
    <span><a href="/">Dan Horst</a></span>
    <ul>
      <li><a href="/writing/">Writing</a></li>
      <li>Lists</li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
{{ end }}

{{ define "main" }}
<article>
  <h1>{{ .Title }}</h1>
{{ if .Content }}
  <section>
    {{ .Content }}
  <section>
{{ end }}

{{ if .Pages }}
  <ul class="listing">
    {{ range .Paginator.Pages }}
    <li><a href="{{ .Permalink }}">{{.Title}}</a></li>
    {{ end }}
  </ul>
{{ end }}
</article>
{{ end }}
