{{ define "title" }}
  Blog
{{ end }}

{{ define "header" }}
  <nav role="navigation">
    <span><a href="/">Dan Horst</a></span>
    <ul>
      <li>Blog</li>
      <li><a href="/lists/">Lists</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </nav>
{{ end }}

{{ define "main" }}
  <h1>Blog</h1>
  {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
    <h2>{{.Key}}</h2>
     <ol class="post-list">
     {{ range .Pages }}
     <li>
       <a href="{{ .Permalink }}">
	 {{.Title | markdownify}}
         <small class="post-date">
	   <span class="month">{{ .Date.Format "January" }}</span>
	   <span class="day">{{ .Date.Format "2" }}</span>
	 </small>
       </a>
       <p>{{.Description | markdownify}}</p>
     </li>
    {{ end }}
     </ol>
  {{ end }}

{{ end }}
