{{ define "title" }}
  Dan’s Strength Guide
{{ end }}

{{ define "meta" }}
<meta name="description" content="Get strong. It’s good for you." />
{{ end }}

{{ define "main" }}
<h1>Dan’s Strength Guide</h1>

<div class="epigraph">
<blockquote>
  <p>Get strong. It’s good for you.</p>
</blockquote>
</div>


<section>
<h2 id="basics">Cover the Basics</h2>

<ul>
  <li>Take care of yourself<label for="self-care" class="margin-toggle sidenote-number"></label>
    <input type="checkbox" id="self-care" class="margin-toggle">
    <span class="sidenote">
      Self-care is like the oxygen masks on an airplane.
      If you don’t take care of yourself first there is no way you can take care of those around you.
      (<a href="https://www.greenmountainhypnosis.com/blogs/post/The-Oxygen-Mask-Theory-How-to-Take-Care-of-Everyone/">I’m not the first person to think of this.</a>)
    </span>
  <ul>
  <li>Eat well</li>
  <li>Sleep well</li>
  <li>Exercise</li>
  <li>Invest in your mental health<label for="mental-health" class="margin-toggle sidenote-number"></label>
    <input type="checkbox" id="mental-health" class="margin-toggle">
    <span class="sidenote">
      For me, this means cultivating mindfullness though medidataion, acknowledging and addressing when I feel emotionally aroused, and trying to improve my emotional intelligence.
    </span>
  </li>
  <li>Routinely go to the doctor, dentist, eye doctor, etc.</li>
  </ul>
  </li>
  <li>Be authentic
  <ul>
  <li>Know <a href="/lists/interests/">what you are passionate about</a> and keep doing it</li>
  <li>Think about <a href="/lists/bucket/">the future you want</a> and work towards it</li>
  <li>Be honest and assertive about your needs
  </li></ul>
  </li>
  <li>Be a Responsible Adult
  <ul>
  <li>Take charge of your career</li>
  <li>Have your finances in order</li>
  <li>Take good care of the space where you live</li>
  <li>Meet your own transportation needs</li>
  <li>Dress appropriately; have a sense of style</li>
  </ul>
  </li>
</ul>
</section>
{{ end }}
