{{ define "title" }}
  Writing
{{ end }}

{{ define "header" }}
  <nav role="navigation">
    <span><a href="/">Dan Horst</a></span>
    <ul>
      <li>Writing</li>
      <li><a href="/lists/">Lists</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </nav>
{{ end }}

{{ define "main" }}
  <h1>Writing</h1>
  <nav class="topic-list">
    <ul>
      <li><a href="/categories/notes/">Notes</a></li>
      <li><a href="/categories/archived/">Archived</a></li>
    </ul>
  </nav>
  {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
    <section>
      <h2>{{.Key}}</h2>
      <ol class="post-list">
	{{ range .Pages }}
	  {{ .Render "summary" }}
	{{ end }}
      </ol>
    </section>
  {{ end }}
{{ end }}
