---
layout: default
title: Lists
---

<h1>Lists</h1>

<% collections.lists.resources
     .flat_map { |r| r.data.categories || [] }
     .uniq.sort.each do |category| %>
  <%
    items = collections.lists.resources
      .select { |r| r.data.categories&.include?(category) }
      .sort_by { |r| r.data.title.to_s }
  %>
  <h2 id="<%= category %>"><%= category.capitalize %></h2>
  <ul>
    <% items.each do |item| %>
    <li><a href="<%= item.relative_url %>"><%= item.data.title %></a></li>
    <% end %>
  </ul>
<% end %>
